<template>
  <div>
    <v-row align="center" justify="center" class="mt-10">
      <v-icon size="200" color="red">
        cancel
      </v-icon>
    </v-row>
    <v-row class="mt-8" align="center" justify="center">
      <p class="headline font-weight-bold text-center">
        Segnalazione non avvenuta<br />Ci sono stati problemi con l'invio
      </p>
    </v-row>
    <v-row class="mt-12" align="center" justify="center">
      <v-btn tile dark color="blue" @click="goHome">
        Torna alla Home
      </v-btn>
    </v-row>
  </div>
</template>

<script>
export default {
  methods: {
    goHome() {
      this.$router.push({ path: "/" });
    }
  }
};
</script>
