<template>
  <v-card
    class="singlecard mx-auto"
    :class="{
      initial: classtype === 'initial',
      'is-active border': classtype === 'is-active',
      'is-full': classtype === 'is-full'
    }"
    @click="setActiveTab"
  >
    <v-card-text>
      <v-btn icon class="center-block" :class="{ classtype }"
        ><v-icon dark large>{{ icontype }}</v-icon></v-btn
      >
      <p class="text-block style" :class="{ classtype }">
        {{ messaggio }}
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
import { $EventBus } from "@/eventBus";

export default {
  props: {
    icontype: String,
    messaggio: String,
    classtype: String
  },

  data: () => ({
    activeTab: 0
  }),

  methods: {
    setActiveTab() {
      if (this.activeTab === 0) this.activeTab = 1;
      else this.activeTab = 0;
    }
  }
};
</script>

<style>
.singlecard {
  height: 100px;
  width: 110px;
  padding: 5px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-block {
  text-align: center;
  font-size: 12px;
}

.initial {
  background-color: transparent !important;
  color: #616161 !important;
  border: 1px solid #ccc !important;
}
.initial .v-card__text p {
  color: #616161 !important;
}

.is-active {
  background-color: transparent !important;
  color: #0d47a1 !important;
}
.is-active .v-card__text p,
.is-active .v-card__text i {
  color: #0d47a1 !important;
}

.border {
  border: 1px solid #0d47a1 !important;
}
.is-full {
  background-color: #0d47a1 !important;
  color: white !important;
  border: 1px solid #0d47a1 !important;
}
.is-full .v-card__text p,
.is-full .v-card__text i {
  color: white !important;
}
</style>
