<template>
    <v-container class="layout">
      <v-row class="mt-12 text-center">
        <v-col cols="12">
          <v-img 
            src="../assets/img/plurimedia/logo.svg"
            height="200"
            contain>
          </v-img>
          <div class="display-1 font-weight-black mt-12">Segnalazioni <br>Case dell'acqua</div>
        </v-col>
      </v-row>

      <v-bottom-navigation 
        height="80"
        dark
        background-color="blue darken-4"
        position: fixed
      >
        <v-btn height="80" class="text-center" value="send" @click="onClick('Posizione')">
          <span>Invia segnalazione</span>
          <v-icon>send</v-icon>
        </v-btn>

        <v-btn height="80" class="text-center" value="phone"
            :href="`tel:${phone}`">
          <span>Chiama il numero verde</span>
          <v-icon>phone</v-icon>
        </v-btn>
      </v-bottom-navigation>

    </v-container>
</template>


<script>
export default {
  data: () => ({
    colorButtons: "#156AAB",
    phone: +390362623174,
    numeroverde: false
  }),
  
  methods: {
    onClick(type) {
      switch (type) {
        case "Posizione":
          this.$router.push({ path: "/posizione" });
          break;
        default:
      }
    }
  }
};
</script>

<style>
.titleHome {
  width: 100%;
  position: relative;
  top: -100px;
}

.subtitles {
  padding-top: 15px;
}

.fillWidth {
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.pa-2 {
  padding: 15px !important;
}
.v-avatar {
  border-radius: 0!important;
}
</style>
