<template>
  <v-container class="white">
    <div>
      <v-app-bar absolute color="blue darken-4" dark position="fixed">
        <v-btn text icon color="white" href="/">
          <v-icon>chevron_left</v-icon>
        </v-btn>

        <v-toolbar-title>Invia Segnalazione</v-toolbar-title>
        <v-spacer></v-spacer>
        <a href="/">
          <v-avatar>
            <img src="../assets/img/plurimedia/logo-white.svg" alt="Logo" />
          </v-avatar>
        </a>
      </v-app-bar>
    </div>

    <div v-if="gettingLocation === null" class="mt-10 text-center">
      <v-sheet class="mt-10 px-3 pt-3 pb-3">
        <v-skeleton-loader
          type="card-heading, image, paragraph@3, actions"
        ></v-skeleton-loader>
      </v-sheet>
    </div>

    <div v-if="gettingLocation !== null">
      <div align="center" justify="center">
        <GmapMap
          :options="{
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            disableDefaultUi: false
          }"
          :center="{ lat, lng }"
          :zoom="19"
          map-type-id="terrain"
          style="width: 100%; height: 320px;"
        >
          <GmapMarker
            :position="{ lat, lng }"
            :clickable="true"
            :draggable="true"
            @click="center = m.position"
          />
        </GmapMap>
      </div>

      <v-alert
        dense
        :class="{
          orange: gettingLocation === false,
          'green darken-3 white--text': gettingLocation === true
        }"
        class="mt-5"
      >
        <div class="pb-0 body-2 msg">{{ messaggio }}</div>
      </v-alert>

      <v-select
        v-if="gettingLocation"
        v-model="entita"
        :items="listaCasette.data"
        item-text="descrizione"
        :error-messages="entitaErrors"
        label="Seleziona la casa dell'acqua"
        required
        @change="$v.entita.$touch()"
        @blur="$v.entita.$touch()"
        return-object
      />

      <div class="text-center">
        <v-btn
          class="mt-12"
          v-if="!gettingLocation"
          @click="back"
          tile
          dark
          color="blue"
        >
          Torna in Home Page
        </v-btn>
        <v-btn
          :disabled="!entita"
          v-if="gettingLocation"
          tile
          block
          color="blue"
          @click="submit"
          dark
          >Procedi</v-btn
        >
      </div>
    </div>
  </v-container>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { $EventBus } from "@/eventBus";
import axios from "axios";
import _ from "lodash";
import { GmapMarker, GmapMap } from "vue2-google-maps/src/components/marker";

export default {
  mixins: [validationMixin],

  validations: {
    // tipo: { required },
    entita: { required }
  },

  data: vm => ({
    messaggio: null,
    entita: null,
    gettingLocation: null,
    lat: 0,
    lng: 0,
    listaCasette: []
  }),

  computed: {
    entitaErrors() {
      const errors = [];
      if (!this.$v.entita.$dirty) return errors;
      !this.$v.entita.required && errors.push("Campo obbligatorio");
      return errors;
    }
  },
  watch: {
    //
  },

  methods: {
    position() {
      if (!("geolocation" in navigator)) {
        alert("Geolocation is not available.");
      }
      navigator.geolocation.getCurrentPosition(
        pos => {
          this.lat = pos.coords.latitude;
          this.lng = pos.coords.longitude;
          this.getListaFromAPI();
        },
        err => {
          this.gettingLocation = false;
        }
      );
    },
    submit() {
      this.$v.$touch();

      $EventBus.$emit("message", {
        type: "success",
        text: "Messaggio inviato"
      });

      // console.log("entita", this.entita);
      localStorage.casetta = JSON.stringify(this.entita); //$casetta variabile globale definita nel main.js
      // console.log("casetta", localStorage.casetta);
      this.clear();
      this.$router.push({ path: "/segnalazione" });
    },
    clear() {
      this.$v.$reset();
      //this.tipo = null;
      this.entita = null;
      this.note = "";
    },
    back() {
      this.$v.$reset();
      this.$router.push({ path: "/" });
    },
    getListaFromAPI() {
      const params = {
        lat: this.lat,
        lng: this.lng
      };
      axios
        .get(process.env.VUE_APP_BA_BACKEND + "/casette/geolocsito", { params })
        .then(response => {
          console.log("lista casette", response);
          this.listaCasette = response;

          console.log("lunghezza", this.listaCasette.data.length);
          if (this.listaCasette.data.length > 0) {
            this.messaggio =
              "Nelle vicinanze abbiamo trovato queste case dell'acqua. " +
              "Seleziona la casetta per la quale vuoi fare una segnalazione.";
            this.gettingLocation = true;
          } else {
            this.messaggio =
              "Non abbiamo trovato case dell'acqua nelle vicinanze.\n" +
              "Per inserire una segnalazione devi essere nelle vicinanze di una casetta.";
            this.gettingLocation = false;
          }
        })
        .catch(err => {
          this.messaggio =
            "Non abbiamo trovato case dell'acqua nelle vicinanze.\n" +
            "Per inserire una segnalazione devi essere nelle vicinanze di una casetta";
          this.gettingLocation = false;
        });
    }
  },

  mounted() {
    this.position();
    console.log("montato");
  }
};
</script>
<style>
.msg {
  white-space: pre-wrap;
}

.container {
  height: 100%;
}

.v-slide-group__next,
.v-slide-group__prev {
  align-items: center;
  display: flex;
  flex: 0 1 28px;
  justify-content: center;
  min-width: 28px;
}
</style>
