<template>
  <v-container class="white">
    <div v-if="sending === true" class="mt-10 text-center">
      <v-sheet class="mt-10 px-3 pt-3 pb-3">
        <v-skeleton-loader
          type="image@2, list-item-three-line"
        ></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-if="sending === false">
      <div>
        <v-app-bar absolute color="blue darken-4" dark>
          <v-btn text icon color="white" href="/#/posizione">
            <v-icon>chevron_left</v-icon>
          </v-btn>

          <v-toolbar-title>Invia Segnalazione</v-toolbar-title>
          <v-spacer></v-spacer>
          <a href="/">
            <v-avatar>
              <img src="../assets/img/plurimedia/logo-white.svg" alt="Logo" />
            </v-avatar>
          </a>
        </v-app-bar>
      </div>

      <div class="mt-12 pt-5">
        <v-row no-gutters>
          <v-col
            ><p class="text-uppercase body-2 mb-0">Casa dell'acqua</p></v-col
          >
        </v-row>
        <v-row no-gutter>
          <v-col class="pt-0"
            ><p class="title">{{ casetta.descrizione }}</p></v-col
          >
        </v-row>

        <v-item-group>
          <v-row no-gutters>
            <v-col>
              <v-item v-slot:default="{ active, toggle }">
                <div @click="toggle, scelta('text')">
                  <CardType
                    :icontype="iconText"
                    :messaggio="messaggioText"
                    :classtype="classText"
                  >
                  </CardType>
                </div>
              </v-item>
            </v-col>
            <v-col>
              <v-item v-slot:default="{ active, toggle }">
                <div @click="toggle, scelta('camera')">
                  <CardType
                    :icontype="iconCamera"
                    :messaggio="messaggioCamera"
                    :classtype="classCamera"
                  >
                  </CardType>
                </div>
              </v-item>
            </v-col>
            <v-col>
              <v-item v-slot:default="{ active, toggle }">
                <div @click="toggle, scelta('audio')">
                  <CardType
                    :icontype="iconAudio"
                    :messaggio="messaggioAudio"
                    :classtype="classAudio"
                  >
                  </CardType>
                </div>
              </v-item>
            </v-col>
          </v-row>
        </v-item-group>
      </div>
      <v-spacer></v-spacer>

      <v-card-text class="pa-0 pt-6 text-center">
        <div v-if="selected === 'text'">
          <v-textarea
            v-model="textArea"
            label="Aggiungi del testo"
            class="mr-4 ml-4"
            clearable
            clear-icon="cancel"
          />
        </div>
      </v-card-text>

      <v-card-text class="pa-0 text-center">
        <div v-if="selected === 'audio' && audio === null">
          <v-btn v-if="!rec" fab large color="primary" @click="startRec"
            ><v-icon dark large>mic</v-icon></v-btn
          >
          <v-btn v-if="rec" fab large color="red" @click="stopRec"
            ><v-icon dark large>stop</v-icon></v-btn
          >
        </div>

        <div v-if="doneAudio && selected === 'audio'" class="mt-8 text-center">
          <div class="ma-2">
            <v-row no-gutters>
              <v-col>
                <audio autoplay :src="audio" controls />
              </v-col>
              <v-col>
                <v-btn icon small color="primary" @click="eliminaAudio"
                  ><v-icon dark>mdi-close-circle</v-icon></v-btn
                >
              </v-col>
            </v-row>
          </div>
        </div>
      </v-card-text>

      <v-card-text class="pa-0">
        <div v-if="selected === 'camera'" class="mt-8 text-center">
          <v-btn
            class="pa-auto ma-auto"
            v-if="!doPhoto"
            tile
            dark
            color="blue"
            @click="$refs.tocamera.click()"
            >Scatta una foto</v-btn
          >
          <input
            ref="tocamera"
            type="file"
            accept="image/*"
            capture="environment"
            style="display:none;"
            @change="processFile($event)"
          />
        </div>

        <div class="mt-6" v-if="captures.length !== 0 && selected === 'camera'">
          <v-list subheader dense class="mylist">
            <v-subheader>Foto scattate</v-subheader>

            <v-list-item class="pa-0" v-for="item in captures" :key="item.id">
              <v-row no-gutters class="mb-3">
                <v-col :cols="4">
                  <v-img
                    :src="item.picture"
                    :class="{ rotateimg: isMobile }"
                    class="singlepicture"
                  ></v-img>
                </v-col>
                <v-col :cols="6">
                  <v-text-field
                    label="Aggiungi testo"
                    class="ma-2"
                    clearable
                    clear-icon="cancel"
                    v-model="item.text"
                  />
                </v-col>
                <v-col :cols="2">
                  <v-btn text class="mt-6" @click="eliminaFoto(item.id)"
                    ><v-icon dark color="red">delete</v-icon></v-btn
                  >
                </v-col>
              </v-row>
            </v-list-item>
          </v-list>
        </div>
      </v-card-text>

      <v-footer
        fixed
        inset
        app
        v-if="textArea !== null || captures.length !== 0 || blob !== null"
      >
        <v-btn tile block dark color="blue" @click="invia"
          >Invia Segnalazione</v-btn
        >
      </v-footer>
    </div>
  </v-container>
</template>

<script>
import CardType from "./CardType";
import { $EventBus } from "@/eventBus";
import axios from "axios";
import _ from "lodash";
import MicRecorder from "mic-recorder";

export default {
  data: () => ({
    messaggioText: "Scrivi un messaggio",
    iconText: "text_fields",
    classText: "initial",
    messaggioAudio: "Registra un audio",
    iconAudio: "mic",
    classAudio: "initial",
    messaggioCamera: "Invia una foto",
    iconCamera: "mdi-camera",
    classCamera: "initial",
    casetta: "",
    selected: null,
    textArea: null,
    doPhoto: false,
    captures: [],
    doneAudio: false,
    blob: null,
    audio: null,
    recorder: null,
    rec: false,
    idcount: 0,
    objToDb: {
      testo: null,
      audio: null,
      foto: []
    },
    sending: false,
    isMobile: false
  }),
  components: {
    CardType
  },
  methods: {
    scelta(type) {
      switch (type) {
        case "text":
          //check iniziale nel passaggio tra una card e l'altra (stati nella card 'is-full', 'is-active', 'initial')
          if (_.isEmpty(this.captures)) this.classCamera = "initial";
          else this.classCamera = "is-full";
          if (_.isNil(this.blob)) this.classAudio = "initial";
          else this.classAudio = "is-full";
          // fine check

          if (_.isNil(this.textArea)) {
            this.classText = "is-active";
          } else this.classText = "is-full";
          this.selected = "text";
          break;
        case "camera":
          //check iniziale nel passaggio tra una card e l'altra (stati nella card 'is-full', 'is-active', 'initial')
          if (_.isNil(this.textArea)) this.classText = "initial";
          else this.classText = "is-full";
          if (_.isNil(this.blob)) this.classAudio = "initial";
          else this.classAudio = "is-full";
          //fine check

          if (_.isEmpty(this.captures)) {
            this.classCamera = "is-active";
          } else this.classCamera = "is-full";
          this.selected = "camera";
          break;
        case "audio":
          //check iniziale nel passaggio tra una card e l'altra (stati nella card 'is-full', 'is-active', 'initial')
          if (_.isNil(this.textArea)) this.classText = "initial";
          else this.classText = "is-full";
          if (_.isEmpty(this.captures)) this.classCamera = "initial";
          else this.classCamera = "is-full";
          //fine check

          if (_.isNil(this.blob)) {
            this.classAudio = "is-active";
          } else this.classAudio = "is-full";
          this.selected = "audio";
          break;
      }
    },

    processFile(event) {
      let picture = URL.createObjectURL(event.target.files[0]);
      this.idcount = this.idcount + 1;
      let json = {
        id: this.idcount,
        picture: picture,
        file: event.target.files[0],
        text: ""
      };
      this.captures.push(json);
    },

    eliminaAudio() {
      this.blob = null;
      this.audio = null;
      this.doneAudio = false;
    },

    eliminaFoto(id) {
      this.captures = _.remove(this.captures, element => {
        return element.id !== id;
      });
    },

    uploadSingleFoto(foto) {
      return new Promise((resolve, reject) => {
        const formData = new FormData();
        formData.append("file", foto.file);
        formData.append("upload_preset", "all_poc");

        axios
          .post(process.env.VUE_APP_CLOUDINARY, formData)
          .then(response => {
            console.log("foto caricata", response);
            let obj = {
              public_id: response.data.public_id,
              url: response.data.url,
              testoFoto: foto.text
            };
            this.objToDb.foto.push(obj);
            resolve();
          })
          .catch(err => {
            console.log("errore in una promise", err);
            reject();
          });
      });
    },

    uploadFoto() {
      return new Promise((resolve, reject) => {
        if (!_.isEmpty(this.captures)) {
          let promiseArray = [];

          for (var i = 0; i < this.captures.length; i++) {
            promiseArray.push(this.uploadSingleFoto(this.captures[i]));
          }

          Promise.all(promiseArray)
            .then(result => {
              console.log("foto caricate sul cloud", this.objToDb);
              resolve();
            })
            .catch(err => {
              console.log("errore in promise all", err);
              reject();
            });
        } else {
          resolve();
        }
      });
    },

    startRec() {
      this.recorder
        .start()
        .then(() => {
          this.rec = true;
        })
        .catch(e => {
          console.error(e);
        });
    },
    stopRec() {
      this.recorder
        .stop()
        .getAudio()
        .then(([buffer, blob]) => {
          this.rec = false;
          this.blob = blob;
          this.audio = window.URL.createObjectURL(blob);
          this.doneAudio = true;
          this.recorder = new MicRecorder({
            bitRate: 128,
            encoder: "mp3", // default is mp3, can be wav as well
            sampleRate: 44100 // default is 44100, it can also be set to 16000 and 8000.
          });
        })
        .catch(e => {
          alert("We could not retrieve your message");
          console.log(e);
        });
    },
    uploadAudio() {
      return new Promise((resolve, reject) => {
        if (!_.isNil(this.blob)) {
          let data = new FormData();
          data.append("audio", this.blob);
          data.append("type", "segnalazione");

          let apiurl = null;
          if (_.isNil(process.env.VUE_APP_LOCAL_ENDPOINT))
            apiurl = "/api/audio/upload";
          else apiurl = process.env.VUE_APP_LOCAL_ENDPOINT + "/audio/upload";

          axios
            .post(apiurl, data, {
              headers: {
                "Content-Type": `multipart/form-data;`,
                boundary: data._boundary
              }
            })
            .then(response => {
              console.log("audio caricato", response);
              //alert("caricamento audio lo fa");
              this.objToDb.audio = response.data.url;
              this.objToDb.transcriptionJobName = response.data.transcriptionJobName;
              resolve();
            })
            .catch(err => {
              //alert("il problema è il caricamento audio"); //*****qui */
              console.log("errore upload audio", err);
              reject();
            });
        } else {
          //alert("non trova niente nel blob");
          resolve();
        }
      });
    },

    invia() {
      this.sending = true;

      this.objToDb.casetta = this.casetta._id;
      this.objToDb.casetta_desc = this.casetta.descrizione;
      this.objToDb.testo = this.textArea;

      this.uploadAudio()
        .then(this.uploadFoto)
        .then(result => {
          console.log("dati da inviare al db:", this.objToDb);
          axios
            .post(
              process.env.VUE_APP_BA_BACKEND + "/segnalazioni/save",
              this.objToDb
            )
            .then(response => {
              console.log("caricamento riuscito");
              //this.sending = false;
              this.$router.push({ path: "/success" });
            })
            .catch(err => {
              //this.sending = false;
              console.log("errore caricamento in db", err);
              // alert("problema al caricament al db", err);
              this.$router.push({ path: "/error" });
            });
        })
        .catch(err => {
          console.error("si è verificato un problema", err);
          //  alert("problema prima de lcaricamento al db", err);
          //this.sending = false;
          this.$router.push({ path: "/error" });
        });
    }
  },

  created: function() {
    this.recorder = new MicRecorder({
      bitRate: 128,
      encoder: "mp3", // default is mp3, can be wav as well
      sampleRate: 44100 // default is 44100, it can also be set to 16000 and 8000.
    });
  },
  mounted() {
    this.casetta = JSON.parse(localStorage.casetta);
    console.log("casetta in mounted", this.casetta);

    if (
      /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
        navigator.userAgent
      )
    ) {
      this.isMobile = true;
      console.log("is mobile");
    } else {
      this.isMobile = false;
      console.log("is desktop");
    }
    /* if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
      this.showCamera = this.showMic = false;
    } */
  }
};
</script>
<style>
.v-application p {
  line-height: 16px;
}

.singlepicture {
  height: 100px;
  width: 110px;
  image-orientation: from-image;
}

.mylist {
  height: 300;
  overflow-y: auto;
}

.rotateimg {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
</style>
