<template>
  <v-app class="Site">
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
//import TopBar from "./components/TopBar";
export default {
  name: "App",

  components: {
    // TopBar
  },

  data: () => ({
    //colorBackground : '#2F4050',
    //topbar_visible: false
  })
};
</script>
<style>
/*.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}*/
.theme--light.v-application {
  background: white;
}
</style>
